<template name="contact">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
				<p>
					<a href="SergiyDybskiyResumeNew.pdf" role="button" class="btn btn-info">Resume</a>
					<span>There it is, you found it</span>
				</p>
			</div>
			<div class="span4">
				<p>
					<style>.ig-b- { display: inline-block; }
					.ig-b- img { visibility: hidden; }
					.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
					.ig-b-48 { width: 48px; height: 48px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-48.png) no-repeat 0 0; }
					@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
					.ig-b-48 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-48@2x.png); background-size: 60px 178px; } }</style>
					<a href="http://instagram.com/416serg?ref=badge" class="ig-b- ig-b-48"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /></a>
					<span> Here is my Instagram </span>
				</p>
				<!-- SnapWidget -->
				<iframe src="http://snapwidget.com/sc/?u=NDE2c2VyZ3xpbnwxNTB8M3wzfHxub3w1fGZhZGVJbnx8eWVz&v=29114" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:300px; height:150px"></iframe>
			</div>
			<div class="span4">
				<a class="twitter-timeline" href="https://twitter.com/416serg" data-widget-id="427880191625424896">Tweets by @416serg</a>
			</div>
		</div>
	</div>
</template>